<footer class="col-12 col-sm-12 col-md-12 | backgroundFooter">
    <div>
        <div class="container | d-flex align-items-center justify-content-between text-center | borders">

            <!-- SPACE-->
            <div class="d-flex" style="width: 50px;"></div>

            <!-- TEXT-->
            <div class="text-center">
        <span class="styleFooter borders ">
          Vytvořil <strong class="fs-5 ">
            <a class="styleFooter" href="https://www.linkedin.com/in/daniel-tolda-bb3602312/">Daniel Tolda</a>
          </strong> @2025
        </span>
            </div>


            <!-- IKONY -->
            <div class="d-flex justify-content-end ">

                <a href="https://www.linkedin.com/in/daniel-tolda-bb3602312/">
                    <img src="images/icons/linkedin.webp" alt="linkedin" class="styleFooterLogo | px-2 | borders">
                </a>

                <a href="https://github.com/Dxnxex">
                    <img src="images/icons/Git.png" alt="GIThub" class="styleFooterLogo | px-2 | borders">
                </a>

            </div>

        </div>
    </div>
</footer>
