<footer class="col-12 col-sm-12 col-md-12 | backgroundFooter">
    <div>
        <div class="container | d-flex align-items-center justify-content-center text-center | borders">


            <!-- TEXT-->
            <div class="text-center ">
        <span class="styleFooter borders ">
          Vytvořil <strong class="fs-5 ">
            <a class="styleFooter" href="https://danieltolda.cz/">Daniel Tolda</a>
          </strong> @2025
        </span>
            </div>


            <!-- IKONY
            <div class="d-flex justify-content-end ">

                <a href="https://www.linkedin.com/in/daniel-tolda-bb3602312/">
                    <img src="images/icons/linkedin.webp" alt="linkedin" class="styleFooterLogo | px-2 | borders">
                </a>


            </div>

-->

        </div>
    </div>
</footer>
