<div class="styleMap">
  <div class="container-fluid text-center my-4 fs-1">
    <strong>Kde nás najdete?</strong>
    <div class="map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2550.4125195017996!2d15.4522684!3d50.2655557!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470c2106cb4f417d%3A0xc436481276f4b1cc!2zU3RhcsO9IEJ5ZMW-b3YgMTI2LCA1MDMgNTcgU3RhcsO9IEJ5ZMW-b3Y!5e0!3m2!1scs!2scz!4v1743202906566!5m2!1scs!2scz" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>