<div class="container-fluid navigace borders d-flex flex-column text-uppercase" id="navigace">
  <nav class="navbar navbar-expand-md navbar-dark w-100 d-flex justify-content-between align-items-center">

    <!-- LEVÁ ČÁST - LOGO NEBO NÁZEV -->
    <a class="d-none d-md-flex | navbar-brand ms-3 fw-bold fs-3 | d-flex  align-items-center" href="index.html"><img class = "imageLogo mx-2" src="images/icons/lgo.png">Autoservis</a>

    <!-- TLAČÍTKO PRO MOBILNÍ MENU -->
    <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAVIGACE -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav navBackgroundDark d-flex align-items-center">
        <li class="nav-item"><a class="nav-link px-3" href="index.html">Domů</a></li>
        <li class="nav-item"><a class="nav-link px-3" href="#sluzby">Služby</a></li>
        <li class="nav-item"><a class="nav-link px-3" href="#kontakt">Kontakt</a></li>
        <li class="nav-item"><a class="nav-link px-3" href="#galerie">Galerie</a></li>
      </ul>
    </div>


    <!-- PRAVÁ ČÁST - Kontakt -->
    <div class="d-none d-md-none d-xl-flex fs-6 fw-bold">

    <!-- PRAVÁ ČÁST - Adresa -->
      <div class="flex-column text-end me-3  ">
        <a href="#mapa">
        <span><img class = "imageNavigation" src="images/icons/location.png"> Starý Bydžov 126, 503 57 Starý Bydžov</span>
      </div>

      <!-- PRAVÁ ČÁST - KONTAKT -->
      <div class="flex-column text-end me-3">
        <span>
          <a href="tel:724312194" class="tel">
            <img class="imageNavigation" src="images/icons/phone.png"> tel: 724 312 194
          </a>
        </span>
              <span>
          <a href="tel:602744660" class="tel">
            <img class="imageNavigation" src="images/icons/phone.png"> tel: 602 744 660
          </a>
        </span>
      </div>

    </div>

  </nav>
</div>


