<!--Služby-->
    <div class="sluzbyIndex">
        <div class="borders container-fluid justify-content-center text-center">
            <div class="row g-0 mx-1">
                <strong class="fs-1 mt-4 fw-bold"><h1>Poskytované služby</h1></strong>


                <div class="borders col-12 col-lg-12 col-xl-12 px-2 my-3">
                    <a class="text-decoration-none">
                        <div class="sluzbyWrapper">
                            <img src="images/gallery/workshop_1.jpg" alt="">

                            <div class="sluzbyTextBig">
                                <strong class="fs-3 fw-bold"><h1>Servis</h1></strong>
                            </div>

                            <div class="sluzbyTextUnder">
                                <p class="fs-6">
                                    Provádíme kompletní generální opravy motorů, výměny tlumičů, opravy podvozkových dílů (nápravy, brzdy aj.), výměny lanovodů, žárovek a také repas nebo výměnu převodovek.
                                    <br><br>
                                    Zajišťujeme výměny olejů a filtrů, stříkání podvozku gumoasfaltem i ochranu dutin pomocí voskových nástřiků.
                                </p>
                            </div>



                        </div>
                    </a>
                </div>

                <div class="borders col-12 col-lg-6 col-xl-4 px-2 my-3">
                    <a class="text-decoration-none">



                        <div class="sluzbyWrapper borders">
                            <img src="images/gallery/repair_2.jpg" alt="">


                            <div class="sluzbyText"><strong class="fs-3 fw-bold"><h1>Klempířina</h1></strong></div>

                            <div class="sluzbyTextUnder">
                                <p class="fs-6">
                                    Provádíme rovnání karoserií, vyvařování poškozených částí i výměny prahů.
                                    <br><br>
                                    Nabízíme také další klempířské práce dle potřeby vašeho vozidla.
                                </p>
                            </div>

                        </div>
                    </a>
                </div>

                <div class="borders col-12 col-lg-6 col-xl-4 px-2 my-3">
                    <a class="text-decoration-none">
                        <div class="sluzbyWrapper">
                            <img src="images/gallery/diagnostika_1.jpg" alt="">

                            <div class="sluzbyText">
                                <strong class="fs-3 fw-bold"><h1>Diagnostika</h1></strong>
                            </div>

                            <div class="sluzbyTextUnder">
                                <p class="fs-6">
                                    Provádíme profesionální diagnostiku vozidel pomocí zařízení AUTEL, DELPHI a VAG.
                                    <br><br>
                                    Spolehlivě odhalíme závady motoru, brzd, řídicích jednotek a dalších systémů.
                                    <br><br>
                                    Cena samostatné diagnostiky je 350 Kč.
                                    V případě následné opravy je diagnostika zcela zdarma.
                                </p>
                            </div>

                        </div>
                    </a>
                </div>

                <div class="borders col-12 col-lg-6 col-xl-4 px-2 my-3">
                    <a class="text-decoration-none">
                        <div class="sluzbyWrapper">
                            <img src="images/gallery/spare_1.jpg" alt="">

                            <div class="sluzbyText">
                                <strong class="fs-3 fw-bold"><h1>Prodej náhradních dílů</h1></strong>
                            </div>

                            <div class="sluzbyTextUnder">
                                <p class="fs-6">
                                    Nabízíme široký sortiment náhradních dílů pro všechny typy vozidel – originální i kvalitní neoriginální alternativy.
                                    <br><br>
                                    V našem sortimentu najdete vše od tlumičů, pístních kroužků, lanovodů až po brzdové komponenty a další díly.
                                    <br><br>
                                    Pracujeme výhradně se spolehlivými značkami jako MANN, BOSCH, ATE, DRW, ELRING, VICTOR REINZ, CONTINENTAL
                                    <br><br>
                                    ...a mnoha dalšími.
                                </p>
                            </div>


                        </div>
                    </a>
                </div>

                <div class="borders col-12 col-lg-6 col-xl-4 px-2 my-3">
                    <a class="text-decoration-none">
                        <div class="sluzbyWrapper">
                            <img src="images/gallery/color_1.jpg" alt="">

                            <div class="sluzbyText">
                                <strong class="fs-3 fw-bold"><h1>Lakování</h1></strong>
                            </div>

                            <div class="sluzbyTextUnder">
                                <p class="fs-6">
                                    Provádíme opravy karoserií včetně rovnání poškozených dílů a tmelení nerovností.
                                    <br><br>
                                    Pracujeme s kvalitními laky značek PPG, Quick Line a Standox.
                                    <br><br>
                                    Pro co nejpřesnější odstín využíváme profesionální spektrometr ke zjištění barvy laku.
                                </p>
                            </div>


                        </div>
                    </a>
                </div>

                <div class="borders col-12 col-lg-6 col-xl-4 px-2 my-3">
                    <a class="text-decoration-none">
                        <div class="sluzbyWrapper">
                            <img src="images/gallery/repair_3.jpg" alt="">

                            <div class="sluzbyText">
                                <strong class="fs-3 fw-bold"><h1>Příprava & Zařížení STK</h1></strong>
                            </div>

                            <div class="sluzbyTextUnder">
                                <p class="fs-6">
                                    Provádíme seřízení brzd, kontrolu světlometů, kontrolu vůlí na nápravách i leštění světel.
                                    <br><br>
                                    Zajistíme pro Vás také zprostředkování STK.
                                </p>
                            </div>


                        </div>

                    </a>
                </div>


                <div class="borders col-12 col-lg-6 col-xl-4 px-2 my-3">
                    <a class="text-decoration-none">
                        <div class="sluzbyWrapper">
                            <img src="images/gallery/repair_3.jpg" alt="">

                            <div class="sluzbyText">
                                <strong class="fs-3 fw-bold"><h1>Ostatní služby</h1></strong>
                            </div>

                            <div class="sluzbyTextUnder">
                                <p class="fs-6">
                                    Montáž tažných zařízení
                                    <br>
                                    Renovace světlometů
                                    <br>
                                    Výměna čelních skel
                                    <br>
                                    Opravy přívěsných vozíků
                                </p>
                            </div>



                        </div>

                    </a>
                </div>


            </div>




        </div>
