
.sluzbyIndex {

    width: 100%;
    margin-top: 100vh;
    background: var(--colorBackgroundLight);

    position: relative;
    display: inline-block;

    color: var(--textColorLight);
}

.sluzbyTitle{

    font-family: Bahnschrift, serif;
    font-size: x-large;
    color: var(--textColorBlack);

}



.sluzbyIndex span{

    font-family: Bahnschrift, serif;
    color: var(--textColorBlack);

}


.sluzbyIndex img {
    width: 100%;
    height: auto;
    display: block;



}




#sluzbyButton {

    padding: 5px;

    border: white 2px solid;
    filter: brightness(100%);


    color: var(--textColorLight);
    background: var(--colorBackgroundWhite);


    width: 90%;
    height: auto;

}

#sluzbyButton:hover {
    filter: brightness(90%);
}



.sluzbyWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.sluzbyWrapper:hover {
    filter: brightness(90%);

}

.sluzbyWrapper strong {

    color: var(--textColorWhite);
}


.sluzbyWrapper:hover strong {
    color: var(--textColorWhite);
}



.sluzbyText {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-45%);


    padding: 10px;
    text-align: left;
    width: 100%;

}


.sluzbyOther {

    margin-bottom: 20px;
    font-weight: 200;

}

.sluzbyOther span {

    color: var(--textColorLight)
}

#sluzby {
    scroll-margin-top: -900px;
}