@import "styleNavigace.css";
@import "styleGalerie.css";
@import "styleFooter.css";
@import "styleKontakt.css";
@import "styleSluzby.css";
@import "styleMap.css";
@import "styleWelcome.css";
@import "styleCookie.css";


:root {



    --colorLight: rgb(241, 241, 241);


    --textColorWhite: #ffffff;
    --textColorBlack: #000000;
    --colorBackgroundWhite: #ffffff;
    --colorBackgroundBlack: #000000;




/*
    --textColorLight: #9a1f1f;
    --textColorDark: #650000;
    --colorBackgroundLight: #d4d4d4;
    --colorBackgroundDark: #292929;
*/

    --textColorLight: #5994db;
    --textColorDark: #4d4d4d;
    --colorBackgroundLight: #ffffff;
    --colorBackgroundDark: #2e2e2e;


    --fontBig: "Monaco", serif;
    --fontNormal: "Georgia", cursive;
    --fontTest: "testFont", cursive;



    --borders: 0px;
    --maxWidth: 100%;
    --animateTimeOpacity: 0.6s;
    --animateTimeMovement: 1.2s;

}

body, html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: var(--colorBackgroundDark);
}

img {
    max-width: 100%;
}

.borders{
    border: red var(--borders) solid;
}


.backgroundIndex {

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2

}

.backgroundIndex video {

    height: 100%;
    object-fit: cover;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 1;


}


.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0; /* stejný jako backgroundIndex, nižší než ostatní obsah */
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    pointer-events: none;
    display: none;
}

/* Landscape režim */
@media (orientation: landscape) {
    .bg-video-landscape {
        display: block;
    }
}

/* Portrait režim */
@media (orientation: portrait) {
    .bg-video-portrait {
        display: block;
    }
}


.titleIndex{

    width: 100%;
    margin-top: 100vh;
    background: var(--colorBackgroundLight);

    position: relative;
    display: inline-block;

    color: var(--textColorLight);

}